*{
    background-color: #1b3d9f;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;  
}

/*-------------HEADER SECTION------------*/

header{
    width: 100%;
    height: 100vh;
    background-image: url(images/stars.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
body{
    text-align: center;
    margin-top:200px;
    padding-bottom: 0px;
}
img {
    width:30%;
}
.sparkle{
    width:3%;
    margin-left: -65%;
}
.station{
    width:25%;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h1{
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding-top: 0px;
    margin-top: 0px;
}
.sparkle2{
    width:3%;
    margin-left:65%;
}
p{
    text-align: left;
}
a{
    color:#f8283e;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration:none;
}


/*-------------HOME SECTION-----------------*/
/*---jump from section to section with prompts---*/

#home{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    position: relative;
}
.lotus2{
    background-image: url(images/lotus2.webp);
    width: 200px;
    height: 200px;
    background-size:80%;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 998;
}
h2{
    position: sticky;
    top: 0;  
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:#ff1e80;
    font-size: 65px;
}
.lotus1{
    background-image: url(images/lotus.webp);
    width: 200px;
    height: 200px;
    background-size: contain;
    position: absolute;
    right: 50px;
    top: 900px;
    z-index: 997;

}
/*-- margin: top right bottom left --*/

body{
    text-align: center;
}
img{
    width: 60%;
}
.first{
    color:#ff1e80;
}
h3{
    color:whitesmoke;
    font-size: 35px;
    margin: 50px 300px 0 300px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-align: center;
}
p a{
    color:#AAD2F7;
    text-decoration: none;
}
p a:hover{
    color: white;
    text-decoration:underline;
}
html{
    scroll-behavior: smooth;
}

/*------------------ABOUT SECTION------------------*/

#about{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    position: relative;
}
.flex-area{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}
.column{
    width: 50%;
    margin: 200px 100px 0 100px;
    padding-right:100px;
}
h4{
    color:#f8283e;
    font-size: 49px;
    margin-bottom: 0;
}
h5{
    color:white;
    font-size: 30px;
    margin-top: 20px;
    font-style: italic;
}
p{
    color:white;
    font-size: 27px;
}
.polaroid1 {
    width: 800px;
    height: 800px;
    background-size: contain;
    position: relative;
    right: 70px;
    top: 70px;
}
.pic1{
    position: absolute;
    background-image: url(images/72station.jpg);
    height: 300px;
    width: 248px;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 7px 11px #0000006a;
    rotate: -1deg
}
.pic2{
    position: absolute;
    background-image: url(images/crosswalk.jpeg);
    height: 300px;
    width: 248px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 450px;
    box-shadow: 7px 16px #0000006a;
    rotate: -5deg;

}
.pic3{
    position: absolute;
    background-image: url(images/upperwest.webp);
    height: 300px;
    width: 245px;
    background-size: contain;
    background-repeat: no-repeat;
    top:300px;
    left:350px;
    box-shadow: 12px 10px #0000006a;
    rotate: 3deg;
}
.lotus3{
    background-image: url(images/lotus2.webp);
    width: 200px;
    height: 200px;
    background-size:85%;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 800px;
    z-index: 997;
    rotate: 10deg;

}

/*------------------QUOTES/RELATED------------------*/
#quotes{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    position: relative;
}

hr{
    border: solid #AAD2F7;
    margin-left: 150px;
    margin-right: 150px;
}
h6{
    color: #f8283e;
    font-size: 35px;
    margin-bottom:0;
}
.lotus4{
    background-image: url(images/lotus.webp);
    width: 200px;
    height: 200px;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    right: 250px;
    top: 200px;
    z-index: 997;
}

iframe{
    margin-bottom: 40px;
    box-shadow:12px 12px #0000006a;
}
h7{
    color:white;
    font-size:30px;
    text-decoration: underline;
    margin-top:40px;
}
h8{
    color: white;
    font-size: 30px;
}
.lotus5{
    background-image: url(images/lotus2.webp);
    width: 200px;
    height: 200px;
    background-size:65%;
    background-repeat: no-repeat;
    position: absolute;
    left: 500px;
    top: 1100px;
    z-index: 997;
    rotate: -10deg;

}

/*-----------------BOTTOM--------------------*/

#bottom{
    width: 100%;
    height: 50vh;
    padding-bottom: 20px;
    padding-top:200px;
    text-align: center;
    background-image: url(images/skyline1.jpg);
    background-size:contain;
    position: relative;

}
.moon{
    width:17%;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top:0px;
}